---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "BRANDING",
    price: {
    // monthly: "Consulte",
    // original: "R$699",
  },
    popular: false,
    features: [
      "Setup de domínio",
      "Setup de DNS",
      "Certificado SSL",
      "Site institucional",
      "Página de vendas",
      "Redes sociais",
      "Produção de conteúdo"
    ],
    button: {
      text: "",
      link: "/contact",
    },
  },
  {
    name: "GESTÃO DE TRÁFEGO",
    price: {
      // monthly: "R$839",
      annual: "R$16.000",
      discount: "10%",
      // original: "R$1299",
    },
    popular: true,
    features: [
      "Setup de campanha",
      "Definição de público",
      "Produção de criativos",
      "Edição de vídeo",
      "Mensuração e análise",
      "Remarketing",
      "Google Ads",
      "Facebook Ads",
      "Testes A/B",
    ],
    button: {
      text: "",
      link: "#",
    },
  },
  {
    name: "PRODUCT DESIGN",
    price: {
      // monthly: "R$ 5.899",
      annual: "R$27.527",
      discount: "10%",
      // original: "R$4.699",
    },
    popular: false,
    features: [
      "Discovery",
      "Análise heurística",
      "Pesquisa",
      "Jornada do usuário",
      "UX & UI Design",
      "Testes de usabilidade",
      "Análise de dados",
    ],
    button: {
      text: "",
      link: "#",
    },
  },
  // {
  //   name: "WEB3",
  //   price: {
  //     monthly: "CONSULTE",
  //     annual: "",
  //     discount: "",
  //     original: "",
  //   },
  //   popular: false,
  //   features: [
  //     "Setup de marketplace",
  //     "Design de ativos",
  //     "Smart contracts",
  //     "Respositórios git",
  //     "Landing page",
  //     "Criação de comunidade",
  //     "Whitepapers",
  //   ],
  //   button: {
  //     text: "Solicitar orçamento",
  //     link: "#",
  //   },
  // },
  // {
  //   name: "MARKETING DIGITAL",
  //   price: "CONSULTE",
  //   popular: false,
  //   features: [
  //     "Companhas personalizadas",
  //     "Qualificação de Leads",
  //     "Setup de loja",
  //     "Personalização de loja",
  //     "Criação de conteúdo",
  //     "E-mail marketing",
  //     "Gestão de tráfego",
  //     "Criação de comunidades",
  //     "Inbound Marketing",
  //     "Marketing de conteúdo",

  //   ],
  //   button: {
  //     text: "Solicitar orçamento",
  //     link: "/contact",
  //   },
  // },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Soluções</Fragment>
      <Fragment slot="desc">
        Escolha um dos grupos de ofertas. Sem surpresas.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-8 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
